
*{
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
html, body{
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url("../images/confectionary.png");
}
main{
    flex: 1;
    margin: auto;
    margin-bottom: 30px;
    position: relative;
    width: 960px;
}
h3, h1{
    font-size: 2em;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
}
h3{
    padding-bottom: 20px;
    font-size: 23px;
    text-align: center;
    border-bottom: 1px #dddddd solid;
}
h5{
    font-size: 20px;
    font-family: 'times new roman';
    font-weight: 100;
    letter-spacing: 1.5px;
    position: absolute; 
    left: 0;
    bottom: -20px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
    background-color: #4aaaa5;
    float:left;
}
p{
    color: #777777;
    padding: 10px;
    line-height: 150%;
}
nav{
    margin: auto;
    width: 960px;
}
nav a{
    margin: 10px;
    padding-top: 20px;
    float:right;
    z-index: 5;
       
}
footer{
    padding-bottom: 50px;
    margin: auto;
    height: 90px;
    width: 100%;
    background-color: #666666;
    border-top: 8px #4aaaa5 solid;

}
a:link {
    text-decoration: none;
    color:#777777;
}

/* visited link */
a:visited {
    color:#bebebe;
}

/* mouse over link */
a:hover {
    color: #4aaaa5;
}

/* selected link */
a:active {
    color: black;
}
::placeholder{
    color: lightgrey;
}
input, textarea{
    color: #777777;
    margin: 5px 0 15px 0;
    padding: 5px;
    width: 100%;
    border: 1px lightgrey solid;
}
input:focus, textarea:focus{
    background-color: #e8ffff;
}
textarea{
    height: 80px;
    resize: none;
}
form{
    color: #777777;
}
h4{
    font-weight: normal;
    color: lightgrey;
    border: 0;
    margin: 0;
    padding-top: 30px;
    text-align: center;

}
.nav-line{
    height: 22px;
    width: 2px;
    float: right;
    margin: 28px 0 0 0;
}
.flex-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content{
    margin-top: 30px;
    padding: 15px 30px 30px 30px;
    background-color: #ffffff;
    width: 650px;
    border: 1px #dddddd solid;
}
.sidebar{
    border: 1px #dddddd solid;
    padding: 0px 15px 15px 15px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 30px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 270px;
}
.contact-button{
    margin: 5px 10px;
    height: 55px;
    width: 55px;
}
.contact-button:hover{
    opacity: .5;
}
.main-header{
    padding: 10px;
    border-bottom: 2px gainsboro solid;
}
.email-button{
    padding: 5px;
    background-color: #4aaaa5;
    color: white;
    border: none;
    width: 25%;
}
.email-button:hover{
    background-color: lightgrey;
    color: #4aaaa5
}
.email-button:active{
    background-color: grey;
    color: #4aaaa5
}
.portfolio-container{
    position: relative;
    height: 200px;
    width: 261px;
    margin: 15px;
    display: inline-block;
}
.portfolio-container:hover{
    opacity:.5;
}
.portfolio-item{
    border-radius: 5% 0;
    height: 200px;
    width: 261px;
    margin: auto;
    
}
.back-to-portfolio{
    font-size: .8em;
    color: #4aaaa5;
}
.back-to-portfolio:hover{
    opacity: .5;
}
#nav-container{
    width: 100%;
    background-color: #ffffff;
    position: relative;
    padding: 0;
    overflow: auto;
    border-bottom: 2px #cccccc solid;
}
#nav-name{
    position: relative;
    left: 0;
    margin: 0;
    color: white;
    padding: 20px;
    background-color: #4aaaa5;
    float:left;
}
#profile-image{
    border-radius: 5% 0;
    margin: 16px 10px 10px 10px;
    float: left;
    height: 200px;
    width: 300px;
}
@media screen and (max-width:980px){
    #profile-image{
        display:block;
        float: none;
        width: 350px;
        height: 233.333px;
    }
    main{
        width: 760px;
    }
    .main-content{
        width:450px;

    }
    nav{
        width: 760px;
    }
    .portfolio-item{
        width: 357px;
        height: 273.5px;
    }
    .portfolio-container{
        width: 357px;
        height: 273.5px;    
    }
}
@media screen and (max-width:768px){
    main{
        width: 632px;
    }
    nav{
        width: 632px;  
    }
    .main-content{
        display: block;
        margin: auto;
        margin-top: 30px;
        width: 630px;
    }
    .sidebar{
        position: relative;
        right: 0;
        display: block;
        width: 630px;
    }
    #profile-image{
        float: left;
        height: 200px;
        width: 300px;
    }
    h3{
        text-align: left;
    }
    .portfolio-item{
        width: 251px;
        height: 192.3px;
    }
    .portfolio-container{
        width: 251px;
        height: 192.3px;    
    }
}

@media screen and (max-width:640px){
    #profile-image{
        display:block;
        float: none;
    }
    main{
        width: 450px;
    }
    nav{
        display: flex;
        flex-direction: column;
        width: 450px;
    }
    .nav-line{
        display: inline-flex;
    }
    .portfolio-item{
        width: 300px;
        height: 200px;
    }
    .portfolio-container{
        width: 300px;
        height: 200px;
    }
    
    .main-content{
        display: block;
        margin: auto;
        margin-top: 30px;
        width: 400px;
    }
    .sidebar{
        position: relative;
        right: 0;
        display: block;
        width: 400px;
    }
    .nav-contents{
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    #nav-name{
        margin-left: calc(-97vw / 2 + 450px / 2);
        margin-right: calc(-97vw / 2 + 450px / 2);
        text-align: center;
    }
}